<!DOCTYPE html>
<html lang="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <title>LineBase</title>
  </head>
  <body>
    <noscript>
      <strong>We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
      
    Minh nè
    <!-- built files will be auto injected -->
      
    <script type='text/javascript'>
      window.$linebase=[];
      window.LINEBASE_ORG_ID='62d4ca84a93676ea720a25ee';
      window.LINEBASE_WORKSPACE_ID='62d4ca84a936761a490a25f0';
      (function(){d=document;s=d.createElement('script');
      s.src='https://lb-cw-testing.fireapps.tech/main.js';
      s.async=1;
      d.getElementsByTagName('head')[0].appendChild(s);})();
    </script>
  </body>
</html>
